* {
  margin: 0;
  padding: 0;
}


.scroll-watcher {
  position: fixed;
  height: 6px;
  background-color: rgb(174, 0, 255);
  width: 100%;
  z-index: 1000;
  scale: 0 1;
  transform-origin: left;
  animation: scroller linear;
  animation-timeline: scroll(y);
  border-bottom-right-radius: 6px;
}

@keyframes scroller {
  to {
    scale: 1 1
  }
}

/*
.headerimg {
  width: 100%;
  height: 80vh;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/422/987/626/new-york-city-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  scale: 1;
  z-index: -1;
  animation: header-animation linear forwards;
  animation-timeline: scroll();
  animation-range: exit;
}

@keyframes header-animation {
  25% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.5;
  }

  85%,
  100% {
    opacity: 0;
    scale: 3;
  }
}

*/

.head {
  font-size: 50px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 200px;
  padding-top: 100px;
  margin: 0 auto;
  padding-top: 150px;
  color: rgb(0, 17, 250);
  position: sticky;
}

.block {
  width: 400px;
  height: 350px;
  margin: 40px;
  margin: 0 auto;
  background-color: aqua;
  margin-bottom: 30px;
  margin-top: 20px;
}

.block2 {
  background-color: rgb(15, 243, 15);
}

.block3 {
  background-color: rgb(225, 245, 47);
}

.block4 {
  background-color: rgb(243, 106, 15);
}

.block5 {
  background-color: rgb(15, 57, 243);
}

.block6 {
  background-color: rgb(178, 15, 243);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}